/*Portada*/
.all-title-box{
	background: url(/assets/images/about1.jpg)no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.all-title-box h1{
	color: white;
	font-weight: 700;
	text-transform: capitalize;
	padding-top: 11%;
	font-size: 2rem;
	line-height: 0px;
}

span.m_1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
	  display: block;
	  padding-top: 5%;
}

/*Info Maestros*/
.teacher-info{
    background: #ddddddc4;
}