.page-section{
	padding: 70px 0px; 
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

/*Sección Experiencia*/
.section.cl {
	background-color: #060808;
}

.stat-wrap h3 {
    font-size: 18px;
    font-weight: 400;
    color: #060808 !important;
    margin: 0 ;
    padding: 0;
    line-height: 1;
}

.stat-wrap p {
    font-size: 38px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    padding: 4px 0 0;
    line-height: 1 !important;
}

body.host_version .stat-wrap h3 {
    color: #ffffff !important;
}

body.host_version .stat-wrap{
    background-position: 100px;
    color: #ffffff !important;
    background: #2A4579;
}


body.host_version .first-section .effect-1:after,
body.host_version .stat-wrap .effect-1:after {
    box-shadow: 0 0 0 2px #fff;
}

body.host_version .stat-wrap p {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: 13px 0 0;
}

body.host_version .stat-wrap .alignleft {
    margin-right: 30px;
}

body.host_version .icon_wrap i{
    color: #2d3032 !important;
}

body.host_version .icon_wrap:hover{
    color: #ffffff !important;
    background: #2d3032;
}

body.host_version .icon_wrap{
    background: #ffffff !important;
    position: relative;
}

body.host_version .icon_wrap {
    font-size: 62px;
}

