/*Portada*/
.all-title-box h1{
	color: white;
	font-weight: 700;
	text-transform: capitalize;
	padding-top: 11%;
	font-size: 2rem;
	line-height: 0px;
}

.all-title-box{
	background: url(/assets/images/about.jpg)no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

/*Title Center*/
.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.lb {
    background-color: #f2f3f5;
}

/*m, v, h*/
span.m_1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
	  display: block;
	  padding-top: 5%;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin: 0;
    padding: 0;
}

.hmv-box{
	padding: 30px 0px; 
}
.inner-hmv{
	padding: 15px;
	box-shadow: 0 0px 10px rgba(0,0,0,.1);
	position: relative;
	overflow: hidden;
}
.inner-hmv:hover .tr-pa{
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv h3{
	font-size: 28px;
	color: #212121;
    font-weight: 500;
	margin-bottom: 20px;
	padding: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv p{
	margin: 0px;
}

.inner-hmv:hover .icon-box-hmv{
	border: 3px solid #A85638;
}
.inner-hmv:hover .icon-box-hmv i{
	color: #2A4579;
}
.inner-hmv:hover h3{
	color: #A85638;
}
.tr-pa{
	font-size: 170px;
	color: #2A4579;
    position: absolute;
    top: -20px;
    right: -10px;
    line-height: 125px;
	font-weight: 700;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-box-hmv{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 3px solid #2A4579;
	border-radius: 6px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-box-hmv i{
	font-size: 60px;
	color: #A85638;
}