<body class="host_version">
    <div class="all-title-box">
        <div class="container text-center">
            <h1>Sobre Nosotros<span class="m_1">Academia Naval Altamar ofrece sus servicios para mejorar la enseñanza
                    estudiantil a
                    nivel provincial.</span></h1>
            <p class="lead">#1 en enseñanza y disciplina en la provincia del Guayas.</p>
        </div>
    </div>

    <div class="container">

        <div class="container">
            <div class="row">
                <div class="section-title  col-12 text-center mt-4">
                    <h3>Datos de la institución</h3>                
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-6">
                        <p><strong>Provincia: </strong>Guayas</p>                    
                    </div>
                    <div class="col-lg-4 col-md-6">                    
                        <p><strong>Tipo Unidad: </strong>Particular</p>
                    </div>
                    <div class="col-lg-4 col-md-6">                     
                        <p><strong>Régimen Escolar: </strong>Costa</p>                    
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <p><strong>Cantón: </strong>Guayaquil</p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <p><strong>Educación: </strong>Hispana</p>
                    </div>
                    <div class="col-lg-4 col-md-6">                    
                        <p><strong>Modalidad: </strong>Presencial-Virtual</p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <p><strong>Parroquia: </strong>9 de Octubre</p>
                    </div>
                    <div class="col-lg-4 col-md-6">                    
                        <p><strong>N° de Estudiantes: </strong>1482</p>
                    </div>
                    <div class="col-lg-4 col-md-6">                    
                        <p><strong>N° de Docentes: </strong>50</p>
                    </div>
                </div>     
            </div>
        </div>

        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2 mt-5">
                <h3>Objetivos</h3>
                <p>Nuestro deber y obligación lo reflejamos en los sgtes tres puntos:</p>
            </div>
        </div><!-- end title -->

        <div class="hmv-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                            <h3>Misión</h3>
                            <div class="tr-pa">M</div>
                            <p>Crecer como institución y avanzando constantemente en la educación junto con los
                                estudiantes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                            <h3>Visión</h3>
                            <div class="tr-pa">V</div>
                            <p>Llegar la educación, a nivel presencial y virtual, a todos los rinconces del país. Formar
                                estudiantes con metas claras y definidas para perseverar en la vida profesional.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                            <h3>Historia</h3>
                            <div class="tr-pa">H</div>
                            <p>Desde la compra del edificio hasta la actualidad, seguimos adelante mejorando la
                                infraestructura
                                y material didáctico.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>