.section.lb{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body.host_version .nav-pills > li:hover > a,
body.host_version .nav-pills > li:focus > a{
	background: #060808;
	color: #ffffff;
}

body.host_version .nav-pills > li > a.active,
body.host_version .nav-pills > li > a.active:focus,
body.host_version .nav-pills > li > a.active:hover{
	background: #2A4579;
	color: #ffffff;
}

body.host_version .icon_wrap:hover,
body.host_version .icon-wrapper:hover i,
body.host_version .grd1 {
    color: #ffffff !important;
    background: #2A4579;
}

.message-box a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.message-box a,
.message-box a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.message-box a.hover-btn-new::before,
.message-box a.hover-btn-new::after {
	background: #eea412;
	content: '';
	position: absolute;
	z-index: 1;
}

.message-box a.hover-btn-new:hover span {
  color: #333333;
}
.message-box a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.message-box a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.nav-pills {
    border: 1px solid #e1e1e1;
	border-radius: 2px;
}

.nav-pills > li {
    width: 50%;
    padding: 10px;
    float: left;
    margin: 0 !important;
}

.nav-pills > li > a {
    margin: 0!important;
    text-align: center;
    background-color: #f4f4f4;
	display: block;
	padding: 10px 0px;
    border-radius: 2px;
    text-decoration: none;
}

.pricing-table {
    margin: 0px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.pricing-table-highlighted h3,
.pricing-table-highlighted h2 {
    color: #ffffff !important;
}

.pricing-table strong {
    font-weight: 600;
    margin-right: 6px;
    color: #1f1f1f;
}

.pricing-table-header {
    padding: 30px 0 25px 0;
    background: #ffffff;
	border-radius: 2px;
}

.pricing-table-header h2 {
    font-size: 31px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.pricing-table-header h3 {
    font-size: 15px;
    font-weight: 600;
    color: #aaaaaa;
    margin-top: 10px;
    text-transform: uppercase;
}


.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 30px;
    border-bottom: 1px solid #ececec;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #3f3e3e;
}

.pricing-table:hover {
	transform: scale(1.05,1.06);
	-webkit-transform: scale(1.05,1.06);
	-moz-transform: scale(1.05,1.06);
	-o-transform: scale(1.05,1.06);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

.pricing-table-space {
    height: 10px;
}

/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}